@media (max-width: 768px) {
  #box {
      width: 90% !important;
      margin: 0 6% 0 6% !important;
  }
}


p {
  color: red;
}

body {
  background: linear-gradient(to right, #298CFF ,#EBF3FB );
}



#box {
  width: 70%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  margin: 0 15%;
}

.container {
  margin: 0% !important;
  padding:  0% !important;
}