{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta
      name="description"
      content="Automatic hand writing to text generator."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'main/ch-high-resolution-logo - Copy.png' %}"
    />
    <link rel="stylesheet" href="{% static 'main/home.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body class="gradient-bg">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div
      class="container-fluid d-flex align-items-center justify-content-center mt-lg-5 mb-lg-5"
    >
      <div class="row w-100 fluid">
        <div
          class="col-12 col-lg-5 text-center d-flex flex-column justify-content-center align-items-center fluid mt-lg-5"
        >
          <h1 class="head-text">
            Welcome to EasiType, where we type your writing out!⌨️
          </h1>
          <h5 class="mt-2 mt-lg-5 text-left">
            <ul>
              <li>Digitise Your Study Notes!📓</li>
              <li>Archive Documents Easily!📄</li>
              <li>Quickly Have Digital Files Instead of Paper!📁</li>
            </ul>
          </h5>
        </div>
        <div
          class="col-12 col-lg-7 d-flex justify-content-center align-items-center fluid mt-lg-5"
        >
          <canvas id="box" width="800" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="btn-group btn-group-lg">
        <button
          class="btn btn-outline-primary mt-1 mt-lg-3 shadow-lg"
          id="upload-btn"
          type="submit"
          onclick=""
          style="
            width: 300px;
            font-size: 2.2em;
            border-width: 3px;
            color: white;
          "
        >
          Generate Text
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-lg-5 mt-3">
      <div
        id="box-gen"
        class="text-left d-flex flex-column fluid shadow-lg px-3 mb-5"
      >
        <p style="color: #878787" class="mt-2">
          Your text will be generated here...
        </p>
      </div>
    </div>
    <footer
      class="text-center py-3 mt-5"
      style="background-color: #4885e8; color: white"
    >
      This Website Was Built and Designed by Colin Harwood |
      <a href="http://Colin-harwood.onrender.com" style="color: white"
        >Colin-harwood.onrender.com</a
      >
    </footer>

    <script>
      function updateFileName() {
        var input = document.getElementById("file-input");
        var fileName = document.getElementById("file-name");
        var rectText = document.getElementById("rect-text");

        if (input.files && input.files.length > 0) {
          fileName.textContent = input.files[0].name;
          rectText.textContent = "Click to change image";
        } else {
          fileName.textContent = "";
        }
      }

      function sendImageToServer() {
        var input = document.getElementById("file-input");
        if (input.files && input.files.length > 0) {
          var file = input.files[0];
          var formData = new FormData();
          formData.append("image", file);

          fetch("http://127.0.0.1:8000/api", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              // Handle the response data here
              console.log(data);
            })
            .catch((error) => {
              // Handle the error here
              console.error(error);
            });
        }
      }

      var canvas = document.getElementById("box");
      canvas.width = canvas.offsetWidth;
      canvas.height = canvas.offsetHeight;
      var ctx = canvas.getContext("2d");

      var painting = false;

      function startDraw(e) {
        painting = true;
        draw(e);
      }

      function endDraw() {
        painting = false;
        ctx.beginPath();
      }

      function draw(e) {
        if (!painting) return;
        ctx.lineWidth = 10;
        ctx.lineCap = "round";
        ctx.strokeStyle = "white";

        ctx.lineTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
      }

      canvas.addEventListener("mousedown", startDraw);
      canvas.addEventListener("mouseup", endDraw);
      canvas.addEventListener("mousemove", draw);
    </script>
  </body>
</html>
