{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main/home.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body class="gradient-bg">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div
      class="container-fluid d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <div class="row w-100 fluid">
        <div class="col-12 col-lg-6 text-center">
          <h1>Welcome to the home page</h1>
          <h1>Welcome to the home page</h1>
        </div>
        <div
          class="col-12 col-lg-6 d-flex justify-content-center align-items-center fluid"
        >
          <div
            id="box"
            class="text-center d-flex align-items-center justify-content-center fluid"
          >
            <h1>Add your image here</h1>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-5">Test</p>
    <script src="" async defer></script>
  </body>
</html>
