{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'main/ch-high-resolution-logo - Copy.png' %}"
    />
    <link rel="stylesheet" href="{% static 'main/home.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body class="gradient-bg">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div
      class="container-fluid d-flex align-items-center justify-content-center"
      style="height: 800px"
    >
      <div class="row w-100 fluid">
        <div
          class="col-12 col-lg-5 text-center d-flex flex-column justify-content-center align-items-center fluid"
        >
          <h1 class="head-text">
            Welcome to EasiType, where we type your writing out!
          </h1>
          <h5 class="mt-2 mt-lg-5">
            Have simple notes that you need to type out? Or maybe you have a lot
            of writing to do but you don't have the time? We can help you with
            that!<br />
            Just upload your image and we'll do the rest!
          </h5>
        </div>
        <div
          class="col-12 col-lg-7 d-flex justify-content-center align-items-center fluid"
        >
          <div
            id="box"
            class="text-center d-flex flex-column align-items-center justify-content-center fluid shadow-lg"
          >
            <h1 class="rect-text" id="rect-text">Add your image here</h1>
            <input
              type="file"
              id="file-input"
              style="display: none"
              onchange="updateFileName()"
              accept="image/*"
            />
            <button
              class="btn btn-primary mt-3"
              id="upload-btn"
              onclick="document.getElementById('file-input').click();"
            >
              Upload Image
            </button>
            <span id="file-name" class="mt-2"></span>
          </div>
        </div>
      </div>
    </div>
    <footer
      class="text-center py-3"
      style="background-color: #4885e8; color: white"
    >
      This Website Was Built and Designed by Colin Harwood |
      <a href="http://Colin-harwood.onrender.com" style="color: white"
        >Colin-harwood.onrender.com</a
      >
    </footer>

    <script>
      function updateFileName() {
        var input = document.getElementById("file-input");
        var fileName = document.getElementById("file-name");
        var rectText = document.getElementById("rect-text");

        if (input.files && input.files.length > 0) {
          fileName.textContent = input.files[0].name;
          rectText.textContent = "Click to change image";
        } else {
          fileName.textContent = "";
        }
      }
    </script>
  </body>
</html>
